.jumbotron{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
}

h1{
  margin-bottom: -5px;
}

#csharp{
  display: none
}

#css{
  display: none
}

#ruby{
  display: none
}

#rubyOrCsharp{
  display: none
}

#none{
  display: none
}
