.jumbotron{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
}

.well{
  background: #EDEAE5;
}

.jumbotron{
  background: #EDEAE5;
  margin-bottom: 15px;
}

.results-header{
  display:none;
}

.questions{
  background: lightgray;
}

.imagecaption{
  font-size: 8pt;
}

h1{
  margin-bottom: -5px;
}

h3, h5{
  text-align: center;
}

p{
  color: black;
}

label{
  color: black;
}

body{
  background-color: #026670;
}

button{
  background-color: #026670;
  color: white;
}

img{
  cursor: pointer;
  padding-top: 20px;
}

#name{
  width: 50%;
}

#email{
  width: 50%;
}

#css, #ruby, #csharp, #rubyOrCsharp, #none{
  display: none;
  text-align: center
}

#rubyinfo, #rubyinfo2, #csharpinfo, #csharpinfo2, #cssinfo{
  display: none;
  font-size: 20px;
  font-style: italic;
  margin-left: 30px;
  padding-left: 470px;
  padding-right: 110px;
  margin-top: 20px;
  text-align: justify;
}
